.card-gold {
    box-sizing: border-box;
    /*border: dotted 2px #e8d290;*/
    /*filter: sepia(20%);*/
    /*border: 2px solid var(--gold-color);*/
}

.card-gold .card-info .card-info-name{
    color: var(--gold-color);
}

.card-gold.card-holo{
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 1px var(--gold-color);
}

.card-gold .card-image {
    filter: sepia(150%);
}

.card-negative.card-gold .card-image {
    filter: invert(100%) sepia(150%) ;
}

.card-gold.card-regular .card-info-stats strong {
    color: var(--gold-color); /* Color set in the holo section */
}
