<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/card-base.css">
    <link rel="stylesheet" href="/static/card-holo.css">
    <link rel="stylesheet" href="/static/card-negative.css">
    <link rel="stylesheet" href="/static/card-gold.css">
    <title>All Cards</title>
</head>
<body>
    <div style="display: grid; grid-template-columns: auto auto auto auto; gap: 50px;">
        {% for card in cards %}
            {% include "card.partial.html.j2"%}
        {% endfor %}
    </div>
</body>
</html>