<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/card-base.css">
    <link rel="stylesheet" href="/static/card-holo.css">
    <link rel="stylesheet" href="/static/card-negative.css">
    <link rel="stylesheet" href="/static/card-gold.css">
</head>
<body>
<div style="display: grid; grid-template-columns: auto auto auto auto auto; gap: 25px;">
    {% for card in cards %}
        {% include "card.partial.html.j2" %}
    {% endfor %}
</div>
</body>
</html>